<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("48829d9d-cc1a-4802-a3fd-edc58e941e7f");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
